{% extends 'layouts/base.html' %}
{% load static  %}
{% block content %}
  <!-- slider_area_start -->
  <div class="slider_area">
    <div class="slider_active owl-carousel">
        {% for banner in banners %}
        <div class="single_slider  d-flex align-items-center  overlay" style="background-image: {{banner.image.url}};" >
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>Big Deal</span>
                            </div>
                            <h3>{{banner.headline}} <br>
                                {{banner.title}}</h3>
                            <h4>{{banner.country}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- slider_area_end -->

<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <span>Burger Menu</span>
                    <h3>Best Ever Burgers</h3>
                </div>
            </div>
        </div>
        <div class="row">

            {% for menu in menus %}

            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{{menu.image.url}}" alt="">
                    </div>
                    <div class="info">
                        <h3>{{menu.name}}</h3>
                        <p>{{menu.description}}</p>
                        <span>${{menu.price}}</span>
                    </div>
                    <a href="{% url 'orders:order' order_pk=menu.pk %}" class="boxed-btn3">Order Now</a>
                </div>
            </div>

            {% endfor %}
           
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="iteam_links">
                    <a class="boxed-btn5" href="{% url 'pages:menu' %}">More Items</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_startt -->
<div class="Burger_President_area">
        <div class="Burger_President_here">
           {% for special in specials %}
            <div class="single_Burger_President">
                <div class="room_thumb">
                    <img src="{{special.image.url}}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>${{special.price}}</span>
                            <h3>special.name</h3>
                            <p>{{special.description}}</p>
                            <a href="{% url 'orders:order' order_pk=special.pk %}" class="boxed-btn3">Order Now</a>
                        </div>
                        
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
    <!-- features_room_end -->
<!-- about_area_start -->
<div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumb2">
                        <div class="{%static 'img_1' %}">
                            <img src="{%static 'img/about/1.png' %}" alt="">
                        </div>
                        <div class="{%static 'img_2' %}">
                            <img src="{%static 'img/about/2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>Best Burger <br>
                                    in your City</h3>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate</p>
                        <div class="{%static 'img_thumb' %}">
                            <img src="{%static 'img/jessica-signature.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
<!-- video_area_start -->
<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <h3>Burger <br>
            Bachelor</h3>
        <span>How we make delicious Burger</span>
        <div class="video_payer">
            <a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y" class="video_btn popup-video">
                <i class="fa fa-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- video_area_end -->

<!-- testimonial_area_start  -->
    <div class="testimonial_area ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                            <div class="section_title mb-60 text-center">
                                    <span>Testimonials</span>
                                    <h3>Happy Customers</h3>
                                </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_active owl-carousel">
                            {% for testimol in testimols %}
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="single_testmonial text-center">
                                            <p>{{testimol.description}}</p>
                                            <div class="testmonial_author">
                                                <div class="thumb">
                                                    <img src="{{testimol.icon.url}}" alt="">
                                                </div>
                                                <h4>{{testimol.name}}</h4>
                                                <div class="stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
<!-- testimonial_area_ned  -->

<!-- instragram_area_start -->
<div class="instragram_area">
<div class="container">
    <div class="row">
        {% for instragram in instagrams %}
        <div class="col-lg-3 col-md-6">
            <div class="single_instagram">
                <img src="{{instragram.image.url}}" alt="">
                <div class="ovrelay">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<!-- instragram_area_end -->
{% endblock %}